#RewriteEngine on
#RewriteBase /test/
#RewriteCond %{REQUEST_FILENAME} -s [OR]
#RewriteCond %{REQUEST_FILENAME} -l [OR]
#RewriteCond %{REQUEST_FILENAME} -d

#RewriteRule ^.*$ - [NC,L]
#RewriteRule ^.*$ index.php [NC,L]


RewriteEngine on
#RewriteBase /mvc-spooky/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^.*$ index.php [L]