div #ms-header {
	background: #272626;
	border-bottom: solid #765139;
	border-bottom-width: 5px;
	height: 100px;
}

div #ms-menu-bar {
}

nav #ms-menu {
	
}

div #ms-promoted {
	
}

div #ms-sidebar-left {
	
}

div #ms-body {
	height: 400px;
}

div #ms-sidebar-right {
	
}

div #ms-left-bottom {
	
}

div #ms-middle-bottom {
	
}

div #ms-right-bottom {
	
}

div #ms-footer-column1 {
	
}
div #ms-footer-column2 {
	
}
div #ms-footer-column3 {
	
}
div #ms-footer-column4 {
	
}

div #ms-footer {
	
}
